@font-face {
  font-family: "departureMono";
  src: url('assets/fonts/DepartureMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "W95F";
  src: url('assets/fonts/W95F.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

#desktop {
  width: 100%;
  height: 100%;
  position: relative;
}

#topbar {
  width: 100%;
  height: 48px;
  background-color: #D6CEB9;
  position: absolute;
  top: 0px;

  border-top: 3px solid #eaeaea;
  border-right: 3px solid #7b776b;
  border-bottom: 3px solid #7b776b;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 5px;

}

#workspace {
  position: absolute;
  top: 48px;
  bottom: 64px;
  left: 0;
  right: 0;
  
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  overflow: hidden;
  z-index: 10;
  background: linear-gradient(180deg, rgba(6, 183, 169, 1) 0%, rgba(0, 170, 159, 1) 45%, rgba(0, 150, 141, 1) 65%, rgba(0, 131, 130, 1) 100%);
}

#taskbar {
  width: 100%;
  height: 64px;
  background-color: #D6CEB9;
  position: absolute;
  bottom: 0px;

  border-top: 3px solid #eaeaea;
  border-right: 3px solid #7b776b;
  border-bottom: 3px solid #7b776b;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 5px;
}

#k-menu {
  display: none;
  position: absolute;
  bottom: 64px;
  left: 5px;
  background-color: #D6CEB9;
  min-width: 180px;
  padding: 3px;
  z-index: 1000;

  border-top: 2px solid #eaeaea;
  border-left: 2px solid #eaeaea;
  border-bottom: 2px solid #7b776b;
  border-right: 2px solid #7b776b;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  gap: 1px;
}

#k-menu.show {
  display: flex;
}

.k-menu-item {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 12px;
  color: #000000;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.k-menu-item:hover {
  background-color: #000080;
  color: #ffffff;
}

.k-menu-separator {
  height: 2px;
  background-color: #7b776b;
  border-bottom: 1px solid #eaeaea;
  margin: 4px 2px;
}

#k-menu-btn {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  width: 40px;
  background-color: #D6CEB9;
  border-top: 3px solid #eaeaea;
  border-left: 3px solid #eaeaea;
  border-bottom: 3px solid #7b776b;
  border-right: 3px solid #7b776b;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

#k-menu-btn:active {
  border-top: 3px solid #7b776b;
  border-left: 3px solid #7b776b;
  border-bottom: 3px solid #eaeaea;
  border-right: 3px solid #eaeaea;

  padding: 2px 0 0 2px;
}

.k-menu-icon {
  width: 24px;
  height: 24px;

  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  pointer-events: none;
}

#taskbar-apps {
  display: flex;
  gap: 4px;
  margin-left: 12px;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}

.taskbar-btn {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 12px;
  height: 40px;
  /* min-width: 120px; */
  /* max-width: 160px; */
  padding: 0 8px;
  background-color: #D6CEB9;
  border-top: 3px solid #eaeaea;
  border-left: 3px solid #eaeaea;
  border-bottom: 3px solid #7b776b;
  border-right: 3px solid #7b776b;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.taskbar-btn.focused {
  background-color: #cbbb9e;
  border-top: 3px solid #7b776b;
  border-left: 3px solid #7b776b;
  border-bottom: 3px solid #eaeaea;
  border-right: 3px solid #eaeaea;
  font-weight: bold;

  padding: 1px 9px 0 9px;
}

.kde-window {
  position: absolute;
  background-color: #D6CEB9;
  width: 400px;
  height: 300px;
  min-width: 250px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  padding: 3px;

  border-top: 3px solid #eaeaea;
  border-left: 3px solid #eaeaea;
  border-bottom: 3px solid #7b776b;
  border-right: 3px solid #7b776b;
  box-sizing: border-box;
}

.kde-window.maximized {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.kde-window.minimized {
  display: none !important;
}

.kde-titlebar {
  background: linear-gradient(90deg,rgba(0, 0, 127, 1) 0%, rgba(0, 0, 0, 1) 100%);;
  color: #ffffff;

  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  cursor: move;
}

.titlebar-control {
  display: flex;
  gap: 2px;
}

.win-btn {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  background-color: #D6CEB9;
  color: #000000;
  border-top: 1.5px solid #eaeaea;
  border-left: 1.5px solid #eaeaea;
  border-bottom: 1.5px solid #7b776b;
  border-right: 1.5px solid #7b776b;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.win-btn:active {
  border-top: 1.5px solid #7b776b;
  border-left: 1.5px solid #7b776b;
  border-bottom: 1.5px solid #eaeaea;
  border-right: 1.5px solid #eaeaea;
}

.kde-window-content {
  background-color: #ffffff;
  border-top: 2px solid #7b776b;
  border-left: 2px solid #7b776b;
  border-right: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  flex-grow: 1;
  padding: 10px;
  margin-top: 3px;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
}

.win-resize-handle {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;

  cursor: se-resize;
  z-index: 9999;
}

.win-resize-handle::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: rotate(180deg);
  transform-origin: center;

  background:
    linear-gradient(
      135deg,
      transparent 0,
      transparent 7px,
      #fff 7px,
      #fff 8px,
      transparent 8px,
      transparent 11px,
      #fff 11px,
      #fff 12px,
      transparent 12px
    ),
    linear-gradient(
      135deg,
      transparent 0,
      transparent 8px,
      #808080 8px,
      #808080 9px,
      transparent 9px,
      transparent 12px,
      #808080 12px,
      #808080 13px,
      transparent 13px
    ),
    linear-gradient(
      135deg,
      transparent 0,
      transparent 3px,
      #fff 3px,
      #fff 4px,
      transparent 4px,
      transparent 7px,
      #fff 7px,
      #fff 8px,
      transparent 8px
    ),
    linear-gradient(
      135deg,
      transparent 0,
      transparent 4px,
      #808080 4px,
      #808080 5px,
      transparent 5px,
      transparent 8px,
      #808080 8px,
      #808080 9px,
      transparent 9px
    );
}


.desktop-shortcut {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.desktop-shortcut:active .shortcut-label {
  background-color: #000000;
  color: #ffffff;
  outline: 1px dotted #ffffff;
}

.shortcut-icon {
  width: 52px;
  height: 52px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.shortcut-label {
  font-family: 'W95F', sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  padding: 2px 4px;
  word-break: break-word;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.icon-browser {
    background-image: url('./assets/Netscape_icon.svg');
}

.icon-terminal {
    background-image: url('./assets/Konsole_icon.svg');
}

.icon-editor {
    background-image: url('./assets/KWrite_icon.svg');
}

.icon-calculator {
  background-image: url('./assets/KCalc_icon.svg');
}

.icon-about {
    background-image: url('./assets/KControl_icon.svg');
}

#clock-widget {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  position: absolute;
  right: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.clock {
  font-size: 16px;
  color: #000000;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px;
}

.date {
  font-size: 16px;
  color: #000000;
  line-height: 1;
  margin-top: 4px;
  font-weight: 700;
  letter-spacing: -1px;
}

#desktop-context-menu {
  display: none;
  position: absolute;
  background-color: #D6CEB9;
  z-index: 999999;
  width: 200px;
  padding: 3px;

  border-top: 2px solid #eaeaea;
  border-left: 2px solid #eaeaea;
  border-bottom: 2px solid #7b776b;
  border-right: 2px solid #7b776b;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#desktop-context-menu.show {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.menu-section-title {
  font-family: 'departureMono', monospace;
  font-size: 11px;
  font-weight: bold;
  color: #555555;
  padding: 6px 12px 2px 12px;
  user-select: none;
}

.context-item {
  font-family: 'departureMono', monospace;
  font-size: 12px;
  color: #000000;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
}

.context-item:hover {
  background-color: #000080;
  color: #ffffff;
}

.context-separator {
  height: 2px;
  background-color: #7b776b;
  border-bottom: 1px solid #eaeaea;
  margin: 4px 2px;
}

#workspace.hide-icons .desktop-shortcut {
  display: none !important;
}

#workspace.compact-grid {
  padding: 10px !important;
  gap: 12px !important;
}

#workspace.compact-grid .desktop-shortcut {
  width: 70px !important;
  height: 70px !important;
  padding: 4px !important;
}

#workspace.compact-grid .shortcut-icon {
  width: 24px !important;
  height: 24px !important;
  background-size: contain !important;
}

#workspace.compact-grid .shortcut-label {
  font-size: 11px !important;
  margin-top: 2px !important;
  line-height: 1.1 !important;
}