@font-face {
    font-family: "departureMono";
    src: url('assets/fonts/DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(6, 183, 169, 1) 0%, rgba(0, 170, 159, 1) 45%, rgba(0, 150, 141, 1) 65%, rgba(0, 131, 130, 1) 100%);
}

#desktop {
  width: 100%;
  height: 100%;
  position: relative;
}

#topbar {
  width: 100%;
  height: 48px;
  background-color: #D6CEB9;
  position: absolute;
  top: 0px;

  border-top: 3px solid #eaeaea;
  border-right: 3px solid #7b776b;
  border-bottom: 3px solid #7b776b;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 5px;
}

#taskbar {
  width: 100%;
  height: 64px;
  background-color: #D6CEB9;
  position: absolute;
  bottom: 0px;

  border-top: 3px solid #eaeaea;
  border-right: 3px solid #7b776b;
  border-bottom: 3px solid #7b776b;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 5px;
}

#clock-widget {
  font-family: 'departureMono';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;

  position: absolute;
  right: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.clock {
  font-size: 16px;
  color: #000000;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px;
}

.date {
  font-size: 16px;
  color: #000000;
  line-height: 1;
  margin-top: 4px;
  font-weight: 700;
  letter-spacing: -1px;
}